/* Body and general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3e5f5; /* Lavender */
}

/* Ribbon */
.ribbon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Allura', cursive; /* Apply the romantic font */
    background-color: #7e57c2; /* Deep purple */
    color: #fff;
    font-size: 4vh; /* Adjust font size using vh */
    padding: 2vh 0; /* Add some padding using vh for better spacing */
    text-align: center; /* Center-align the text */
}

/* Text Header */
.text-header {
    position: absolute;
    top: 10vh; /* Adjust position using vh */
    left: 20%; /* Adjust position using percentages */
    background-color: #ffb3e6;
    font-family: 'Great Vibes', cursive;
    font-size: 4vh; /* Adjust font size using vh */
    border-radius: 2vh; /* Adjust border radius using vh */
    padding: 2vh; /* Add padding using vh for better spacing */
}

/* Text Area 1 */
.text-area1 {
    position: relative; /* Change to relative positioning */
    margin-top: 20vh; /* Adjust margin using vh */
    width: 80%; /* Adjust the width as needed */
    padding: 5vh; /* Add padding using vh for better spacing */
    line-height: 1.6; /* Increase line-height for better readability */
    font-family: 'Satisfy', cursive;
}

/* Text Area 2 */
.text-area2 {
    position: relative; /* Change to relative positioning */
    margin-top: 10vh; /* Adjust margin using vh */
    width: 80%; /* Adjust the width as needed */
    padding: 5vh; /* Add padding using vh for better spacing */
    line-height: 1.6; /* Increase line-height for better readability */
    color: #880e3f; /* Deep pink */
    font-family: 'Satisfy', cursive;
}
