* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #232323;
    overflow: hidden;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: -1;
}

.instagram {
    position: absolute;
    width: 160px;
    height: 160px;
    background: radial-gradient(circle at 30% 110%,
            #ffdb8b 0%,
            #ee653d 25%,
            #d42e81 50%,
            #a237b6 75%,
            #3e57bc 100%);
    border-radius: 37px;
    box-shadow: 0px 15px 40px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
}

.instagram:hover {
    transform: translateY(-10px);
}

.instagram::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 22px;
    border: 7px solid #fff;
    height: 100px;
    width: 100px;
    border-radius: 25px;
}

.instagram::before {
    content: "";
    position: absolute;
    top: 49px;
    right: 49px;
    border: 8px solid #fff;
    height: 43px;
    width: 45px;
    border-radius: 50%;
}

span {
    position: absolute;
    display: block;
    top: 40px;
    right: 40px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
}

p {
    position: absolute;
    font-family: "poppins", serif;
    margin-top: 250px;
    letter-spacing: 1.2px;
    font-size: 20px;
    white-space: nowrap;
    text-decoration: underline;
    text-underline-offset: 8px;
    cursor: pointer;
    color: black;
}